/*------General------*/
.container {
    width:100%;
    min-height: 100vh;
    padding: 0 0.5rem;
    display: inline-block;
    height: 100vh;
    text-align: center;
  }

.power{
    text-align: center;
    height: 12rem;
    padding: 2rem 0; 
}

.btn{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: solid .1rem lightgrey;
    padding: .5rem;
    margin: 1rem; 
}

.disbtn{
    border-radius: 50%;
    border: solid .1rem  lightgrey;
    padding: .5rem;
    margin: 1rem;
    width: 6.5rem;
    background-color: rgba(255,255,255,0.2);
}

.btn:hover{
    border: solid .1rem darkgray;
}
.btn:active{
    border: none;
}

/*------Arrows------*/

.arrows{
    margin: 2rem auto;
}

.center{
    margin: -2.5rem 0;
    display: inline-block;
}

.center button{
    display: inline-block;
    vertical-align: middle;
}

.up,.down{
    width: 10rem;
    display: block;
    margin: 0 auto;
}

.left,.right{
    height: 11rem;
}

.enter{
    margin: 0 -3rem
}

.arrbtn{
    position: relative;
    z-index: 100;
}

.entbtn{
    position: relative;
    font-size: 8.5rem;
    z-index: 0;
}

.arrow{
    color: rgba(0,0,0,0.6);
}
.arrow:hover{
    color: rgba(0,0,0,0.3);
    transition: .2s;
}
.arrow:active{
    color: #000;
}

/*------Footer------*/
.footer{
    position: fixed;
    z-index: 100;
    width: 100%;
    text-align: center;
    bottom: 0;    
}
.footer .icons{
    width: 6.5rem;
    background-color: rgba(255,255,255,0.2);

}
.footer .icons:active{
    color: deepskyblue;
}

@media (max-width: 600px) {
    .footer .icons{
        border: none;
        margin: .3rem;
        width: 16vw;
        background-color: transparent;
    }
    .disbtn{
        border: none;
        background-color: transparent;
    }
}
